*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
}
.botao{
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.135);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}